.twitter-app {
    display: none;
    height: 100%;
    width: 100%;
    background: #F5F8FA;
    overflow: hidden;
}

.twitter-header {
    position: absolute;
    top: 5vh;
    width: 100%;
    height: 5vh;
    border-bottom: .2vh solid rgba(20, 23, 26, 0.37);
}

.twitter-header-tab {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    line-height: 5vh;
    font-size: 1.5vh;
    color: rgba(20, 23, 26, 0.685);
    transition: .07s;
}

.twitter-header-tab:hover {
    background-color: #AAB8C2;
}

.selected-twitter-header-tab {
    border-bottom: .2vh solid #1DA1F2;
    color: #1DA1F2;
}

.twitter-app-header {
    position: relative;
    padding: 5vh 0 0 1.85vh;
    font-family: 'Samsung Sans Medium';
    font-size: 2vh;
}

.twitter-home-tab {
    display: block;
    position: absolute;
    height: 75%;
    width: 100%;
    top: 12vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-home-tab::-webkit-scrollbar {
    width: .7vh;
}

.twitter-home-tab::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

.twitter-home-tab::-webkit-scrollbar-track {
    background-color: #ebebeb00;
}

.twitter-mentions-tab {
    display: none;
    position: absolute;
    height: 75%;
    width: 100%;
    top: 12vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-mentions-tab::-webkit-scrollbar {
    width: .7vh;
}

.twitter-mentions-tab::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

.twitter-mentions-tab::-webkit-scrollbar-track {
    background-color: #ebebeb00;
}

.twitter-hashtags-tab {
    display: none;
    position: absolute;
    height: 75%;
    width: 100%;
    top: 12vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-hashtags-tab::-webkit-scrollbar {
    width: .7vh;
}

.twitter-hashtags-tab::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

.twitter-hashtags-tab::-webkit-scrollbar-track {
    background-color: #ebebeb00;
}

.twitter-tweet {
    position: relative;
    height: auto;
    width: 100%;
    border-top: 2px solid rgba(20, 23, 26, 0.37);
    margin-bottom: 2.5vh;
}

.twitter-tweet-hashtag {
    position: relative;
    height: auto;
    width: 100%;
    border-top: 2px solid rgba(20, 23, 26, 0.37);
    margin-bottom: 2.5vh;
}

.twitter-mentioned-tweet {
    position: relative;
    height: auto;
    width: 100%;
    border-top: 2px solid rgba(20, 23, 26, 0.37);
    margin-bottom: 2.5vh;
}

.twt-img {
    position: absolute;
    left: 1vh;
    height: 100%;
    width: 100%;
}

.twt-img > img {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
}

.tweet-reply {
    position: absolute;
    top: 5.5vh;
    margin-bottom: 5vh;
    margin-left: 2.4vh;
    color: rgba(0, 0, 0, 0.8);
    transition: .05 linear;
    z-index: 100;
    pointer-events: all;
}

.tweet-reply:hover i {
    color: rgba(0, 0, 0, 1.0);
}

.tweet-tweeter {
    padding-left: 6vh;
    padding-top: .6vh;
    font-family: 'Samsung Sans Bold';
    font-size: 1.1vh;
}

.tweet-tweeter > span {
    position: relative;
    font-family: 'Samsung Sans Regular';
    font-size: 1.0vh;
    top: -.1vh;
}

.tweet-message {
    margin-top: .3vh;
    padding-left: 6vh;
    top: .5vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.3vh;
    padding-bottom: 1vh;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.twitter-new-tweet {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5.5vh;
    height: 5.5vh;
    background-color: #1DA1F2;
    margin: 2.2vh;
    border-radius: 50%;
    text-align: center;
    transition: .1s;
}

.twitter-new-tweet:hover {
    background-color: rgb(62, 179, 252);
}

.twitter-new-tweet > i {
    line-height: 5.5vh;
    font-size: 2vh;
    transform: rotate(-20deg);
    color: white;
}

.twitter-new-tweet-tab {
    display: none;
    position: absolute;
    display: block;
    top: -100%;
    height: 100%;
    width: 100%;
    background: #F5F8FA;
    overflow: hidden;
    z-index: 105;
}

.twitter-new-tweet-header {
    position: relative;
    padding: 5vh 0 0 1.85vh;
    font-family: 'Samsung Sans Medium';
    font-size: 2vh;
}

#tweet-new-message {
    position: absolute;
    border: none;
    height: 15vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: rgb(233, 233, 233);
    outline: none;
    border-bottom: 2px solid #1da0f200;
    resize: none;
    transition: border-bottom 0.1s ease-in-out;
    font-family: 'Samsung Sans Regular';
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 12vh;
    width: 22vh;
    border-radius: 1vh 1vh 0 0 ;
    box-shadow: inset 0 0 2vh 0 rgba(0, 0, 0, 0.089);
}

#tweet-new-message::-webkit-scrollbar {
    display: none;
}

#tweet-new-message::placeholder {
    font-size: 1.4vh;
    font-family: 'Samsung Sans Regular';
}

#tweet-new-message:focus {
    border-bottom: .55vh solid #1da0f2b0;
}

#tweet-new-message:valid {
    border-bottom: .55vh solid #6ab04c;
}

.twitter-new-tweet-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

.twitter-new-tweet-button {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 4.5vh;
    font-family: 'Samsung Sans Medium';
    font-size: 1.5vh;
    border-top: .3vh solid #6ab04c00;
    transition: .1s;
}

.twitter-new-tweet-button:hover {
    border-top: .3vh solid #1DA1F2;
}

.twitter-no-tweets {
    position: absolute;
    text-align: center;
    top: 4vh;
    width: 100%;
    font-size: 2vh;
    font-family: 'Samsung Sans Bold';
    color: black;
}

.mentioned-tag {
    border-bottom: .1vh solid rgba(27, 149, 224, 0);
    padding-bottom: .3vh;
    transition: .2s;
}

.mentioned-tag:hover {
    color: rgb(19, 103, 155);
    border-bottom: .1vh solid rgb(27, 149, 224);
    transition: .2s;
}

.hashtag-tag-text {
    border-bottom: .1vh solid rgba(27, 149, 224, 0);
    padding-bottom: .3vh;
    transition: .2s;
}

.hashtag-tag-text:hover {
    color: rgb(19, 103, 155);
    border-bottom: .1vh solid rgb(27, 149, 224);
    transition: .2s;
}

.twitter-hashtag {
    position: relative;
    height: 7vh;
    width: 100%;
    top: 0;
    background-color: rgb(238, 238, 238);
    transition: .2s;
}
.twitter-hashtag:hover {
    background-color: rgb(224, 224, 224);
}

.twitter-hashtag-status{
    position: absolute;
    top: .8vh;
    left: 1vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.1vh;
    color: rgb(99, 111, 121);
}

.twitter-hashtag-tag {
    position: absolute;
    top: 2.5vh;
    left: 1vh;
    font-family: 'Samsung Sans Bold';
    font-size: 1.4vh;
    color: rgb(66, 66, 66);
}
.twitter-hashtag-messages {
    position: absolute;
    bottom: .8vh;
    left: 1vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.1vh;
    color: rgb(99, 111, 121);
}
.twitter-hashtags {
    position: absolute;
    display: block;
    width: 100%;
}
.twitter-hashtag-tweets {
    display: none;
    position: absolute;
    top: 0;
    left: 30;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.twitter-hashtag-tweets::-webkit-scrollbar {
    width: .2vh;
}

.twitter-hashtag-tweets::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

.twitter-hashtag-tweets::-webkit-scrollbar-track {
    background-color: #ebebeb00;
}