.lawyers-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(243, 243, 243);
    overflow: hidden;
}

.lawyers-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: #004682;
    top: 0;
    border-bottom: .3vh solid #003666;
    color: white;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;
}

.lawyers-header > p {
    line-height: 12vh;
    text-indent: 2vh;
}

.lawyers-header > span {
    position: absolute;
    top: 9vh;
    left: 2vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgba(255, 255, 255, 0.842);
}

.lawyers-list {
    position: absolute;
    background-color: #00000033;
    width: 90%;
    height: 73%;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3%;

    border-radius: .5vh;

    overflow-y: scroll;
}

.lawyers-list::-webkit-scrollbar {
    display: none;
}

.lawyer-list {
    position: relative;
    width: 95%;
    height: 6vh;
    background-color: rgba(31, 31, 31, 0.89);
    margin: 2.5%;

    border-radius: .5vh;
}

.lawyer-list-firstletter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3.5vh;
    height: 3.5vh;
    background-color: rgb(42, 137, 214);
    text-align: center;
    left: 1vh;
    line-height: 3.5vh;
    border-radius: 50%;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;

    color: rgb(255, 255, 255);
}

.lawyer-list-fullname {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5.5vh;
    font-family: 'Samsung Sans Medium';
    font-size: 1.5vh;

    max-width: 14vh;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    color: rgb(255, 255, 255);
}

.no-lawyers {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Samsung Sans Medium';
    font-size: 1.3vh;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;

    max-width: 14vh;

    color: rgb(255, 255, 255);
}

.lawyer-list-call {
    color: white;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);

    right: 2vh;
    font-size: 2vh;
    transform: rotate(90deg);

    transition: .08s ease-in-out;
}

.lawyer-list-call:hover {
    color: rgb(66, 161, 11);
    opacity: .8;

    transform: rotate(0deg);

    cursor: pointer;
}