.whatsapp-app {
    display: none;
    height: 100%;
    width: 100%;
    background: #F5F8FA;
    overflow: hidden;
}

.whatsapp-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
    background-color: rgba(7, 94, 84, 0.274);
}
.whatsapp-header-top {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: rgb(7, 94, 84);
}
.whatsapp-header-footer {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: rgb(11, 124, 111);
}
.whatsapp-header-footer > p {
    padding-top: 1.3vh;
    padding-left: 2vh;
    color: white;
    font-family: 'Samsung Sans Medium';
    font-size: 1.5vh;
}
#whatsapp-search-chats {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.6vh;
    color: white;
    right: 1vh;
    transition: .1s;
    font-size: 1.5vh;
}
#whatsapp-search-chats:hover {
    color: rgb(182, 182, 182);
}
#whatsapp-search-input {
    display: none;
    position: absolute;
    background: none;
    border: none;
    background: rgb(226, 226, 226);
    top: .7vh;
    width: 17vh;
    margin: 0 auto;
    height: 2.5vh;
    border-radius: 1vh;
    box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.281);
    font-family: 'Samsung Sans Regular';
    outline: none;
    text-indent: 1vh;
    z-index: 100;

    right: 5vh;
    top: 0.95vh;
    width: 12vh;
}

.whatsapp-chats {
    position: absolute;
    width: 100%;
    height: 47.8vh;
    top: 9vh;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.whatsapp-chats::-webkit-scrollbar {
    position: absolute;
    width: .6vh;
}

.whatsapp-chats::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.whatsapp-chats::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
}

.whatsapp-chat-unreadmessages {
    display: none;
    position: absolute;
    right: 1vh;
    top: 3.1vh;
    width: 1.8vh;
    height: 1.8vh;
    background-color: #25D366;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-family: 'Samsung Sans Bold';
    font-size: 1vh;
    line-height: 1.9vh;
}

.whatsapp-chat {
    position: relative;
    width: 100%;
    height: 7vh;
    border-bottom: .15vh solid rgb(219, 219, 219);
    background: white;
    transition: .15s;
}
.whatsapp-chat:hover {
    border-bottom: .15vh solid rgb(207, 207, 207);
    background: rgb(233, 233, 233);
}
.whatsapp-chat-picture {
    position: absolute;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    top: 1vh;
    left: 1vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whatsapp-openedchat-picture {
    position: absolute;
    height: 3.5vh;
    width: 3.5vh;
    background: gray;
    border-radius: 50%;
    top: .5vh;
    left: 3.5vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whatsapp-chat-name {
    position: absolute;
    top: 1.35vh;
    left: 7vh;
    font-family: 'Samsung Sans Bold';
    font-size: 1.5vh;
}
.whatsapp-chat-lastmessage {
    position: absolute;
    bottom: .6vh;
    left: 7vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.1vh;
    color: rgb(83, 83, 83);
    max-width: 17vh;
}
.whatsapp-chat-lastmessage > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.whatsapp-chat-lastmessagetime {
    position: absolute;
    top: 1.35vh;
    right: 1vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1vh;
    color: rgb(83, 83, 83);
}

.whatsapp-openedchat {
    display: none;
    position: absolute;
    top: 0;
    left: -30vh;
    height: 100%;
    width: 100%;
    background-image: url('../img/apps/whatsapp-chat.png');
    background-repeat: no-repeat;
    background-size: inherit;
    background-color: rgb(255, 255, 255);
}
/* .whatsapp-openedchat-picture {
    position: absolute;
    height: 3.5vh;
    width: 3.5vh;
    background: gray;
    border-radius: 50%;
    top: .5vh;
    left: 3.5vh;
} */
#whatsapp-openedchat-back {
    position: absolute;
    line-height: 5.5vh;
    top: -.4vh;
    left: 1.4vh;
    color: white;
    transition: .1s;
}
#whatsapp-openedchat-back:hover {
    color: rgb(197, 197, 197);
}
.whatsapp-openedchat-name {
    position: absolute;
    line-height: 5.5vh;
    top: -.4vh;
    left: 8vh;
    color: white;
    font-size: 1.5vh;
    font-family: 'Samsung Sans Medium';
    font-size: 1.5vh;
}
.whatsapp-header-openedchat{
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
    background-color: rgba(7, 94, 84, 0);
}
.whatsapp-header-top-openedchat {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: #075e54;
}
.whatsapp-header-footer-openedchat {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: #11776b;
}
.whatsapp-header-footer-openedchat > p {
    padding-top: 1.3vh;
    padding-left: 2vh;
    color: white;
    font-family: 'Samsung Sans Medium';
    font-size: 1.5vh;
}
.whatsapp-extra-buttons {
    display: none;
    position: absolute;
    left: -10vh;
}
.whatsapp-openedchat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
}
.whatsapp-extra-button {
    background: none;
    border: none;
    background: rgb(226, 226, 226);
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 3vh;
    box-shadow: 0 0 .4vh 0 rgba(0, 0, 0, 0.3);
    font-family: 'Samsung Sans Regular';
    font-size: 1.4vh;
    z-index: 100;
    top: 1.3vh;
    left: .8vh;
    float: left;
    margin-right: 1vh;
    position: relative;
    text-align: center;
    transition: .1s linear;
}
.whatsapp-extra-button:hover {
    background: rgb(248, 248, 248);
}
.whatsapp-extra-button > i {
    line-height: 3.5vh;
    font-size: 1.5vh;
}
#whatsapp-openedchat-message {
    position: absolute;
    background: none;
    border: none;
    background: rgb(226, 226, 226);
    margin: 0 auto;
    height: 3.5vh;
    border-radius: 3vh;
    box-shadow: 0 0 .4vh 0 rgba(0, 0, 0, 0.3);
    font-family: 'Samsung Sans Regular';
    font-size: 1.4vh;
    outline: none;
    text-indent: 3vh;
    z-index: 100;
    top: 5.75vh;
    left: .8vh;
    width: 23vh;
}
#whatsapp-openedchat-send {
    position: absolute;
    top: 5.75vh;
    right: 1.1vh;
    color: white;
    text-align: center;
    line-height: 3.5vh;
    background: #075e54;
    font-size: 1.5vh;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    text-indent: -.4vh;
    box-shadow: 0 0 .4vh 0 rgba(0, 0, 0, 0.3);
    transition: .15s;
}
#whatsapp-openedchat-send:hover {
    background: #0c8f80;
}
#whatsapp-openedchat-message-extras {
    position: absolute;
    left: 1.2vh;
    z-index: 100;
    top: 6.3vh;
    font-size: 1.5vh;
    width: 2.6vh;
    height: 2.6vh;
    text-align: center;
    line-height: 2.5vh;
    border-radius: 50% 0% 0 50%;
    color: black;
    transition: .2s;
}
#whatsapp-openedchat-message-extras:hover {
    color: #075e54;
}

.whatsapp-openedchat-messages {
    position: absolute;
    height: 70%;
    width: 90%;
    top: 10vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.whatsapp-openedchat-messages::-webkit-scrollbar {
    position: absolute;
    width: .3vh;
}
.whatsapp-openedchat-messages::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
.whatsapp-openedchat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
}

.whatsapp-openedchat-message{
    position: relative;
    width: fit-content;
    max-width: 50%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: auto;
    margin-top: .7vh;
    padding: .4vh;
    text-indent: .3vh;
    transition: .1s linear;
}
.whatsapp-shared-location:hover {
    opacity: .8;
    transition: .1s linear;
}
.whatsapp-openedchat-message-me {
    background: #dcf8c6;
    border-radius: .5vh 0 .5vh .5vh;
    float: right;
    left: -.3vh
}
.whatsapp-openedchat-message-other {
    background: #ffffff;
    border-radius: .5vh 0 .5vh .5vh;
    left: .3vh
}
.whatsapp-openedchat-message-time {
    font-size: 1.1vh;
    text-align: right;
    padding-left: 3.7vh;
    margin-top: -.25vh;
    font-family: 'Samsung Sans Regular';
    color: gray;
}
.unique-chat {
    position: relative;
    width: 100%;
    margin-bottom: 1vh;
    top: 0;
}
.whatsapp-openedchat-date {
    position: relative;
    margin: 0 auto;
    margin-top: .2vh;
    text-align: center;
    background: #d2ecf9;
    width: fit-content;
    padding: .4vh;
    height: 2vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1vh;
    border-radius: .4vh;
    box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.2);
    margin-bottom: .7vh;
    text-transform: uppercase;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}